.table {
    background-image: url(../img/blackjack.png);
    background-repeat: no-repeat;
    width: 100%
}

.main-row {
    min-height: 175px;
    max-width: 1275px;
}

.payout-row,
.pay {
    min-height: 50px;
}

.card {
    margin-top: 10px;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
}

.deep-margin {
    margin: 20px;
}

.chip {
    position: absolute;
}